<nav id="nav" class="fixed-top">
    <h2 class="logo">
        <a href="{{ SITEURL }}">{{ SITENAME }}</a>
    </h2>
    <ul>
        {% if DISPLAY_PAGES_ON_MENU %}
            {% for page in PAGES %}
                <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        {% endif %}
        {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        <li class="submenu">
            <a href="{{ SITEURL }}/{{ BLOG_URL }}">Blog</a>
            <ul>
                {% for cat, null in categories %}
                    {% if cat != 'blog' %}
                        <li {% if cat == category %}class="active"{% endif %}>
                            <a href="{{ SITEURL }}/category/{{ cat|lower }}/">{{ cat }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        <li>
            <a href="{{ SITEURL }}/#contacto" class="button special">Contacto</a>
        </li>
    </ul>
</nav>
